#mapa {
	width:80%;
	 margin-left: 130px;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
   
}

.titulo-principal {
	 background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic;
	font-size: 20px;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}
