#mapa {
	width:80%;
	 margin-left: 130px;
}

#nada{
     width:80%;
	 margin-left: 130px;



}
.principal{
	background: #CCCCCC;
	padding: 30px;
   
}

.titulo-principal {
    font-size: 20px;
    


     color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 24px 0;
    height: 400px;
  
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic;
	font-size: 20px;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

    .cabecalho {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}